body
{
	padding: 0;
	margin: 88px 0px 0px 0px ;
	background-color:#f5f5f5;
    font-family: 'Oxygen', sans-serif;
    line-height: 140%;
}
a {
    text-decoration: none;
    color: #0f80a7;
    transition: 0.2s;
}
a:hover {
    color:#0d6989;
}
#header
{
	margin: 0;
	padding: 20px;
	background: #ccc;
	height:50px;
    color:white;
	background-color: #34495e ;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 2000;
}

#header h1 { m
    text-align: center;
    margin-top: 14px;
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	height: 400px;
	float: left;
	padding: 0%;
	margin: 1%;
	width: 64%;
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#edito h2
{
	color: #000;
	font-size: 160%;
}

div.element
{
	float: left;
	width: 31%;
	min-width: 400px;
	height: 400px;
	overflow-y: scroll;
	margin: 1%;
	padding: 0%;
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.element img
{
	background-color : #fff;
	float: right;
	width: 40%;
	margin: 4%;
}

p
{
	margin: 20px;
	text-align: justify;
}
h2,h3
{
	text-align: center;
}

#footer
{
	clear: both;
	background-color:#202020;
	text-align: left;
	padding: 20px;
    color:white;
	height: 1%;
	background-repeat: no-repeat;
	background-size: cover ;
	background-position:center; 
}
